<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Visionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Visionary.Properties.Settings>
            <setting name="m_nMagicTrainingLabels" serializeAs="String">
                <value>2049</value>
            </setting>
            <setting name="m_nMagicTrainingImages" serializeAs="String">
                <value>2051</value>
            </setting>
            <setting name="m_nItemsTrainingLabels" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="m_nItemsTrainingImages" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="m_nMagicTestingLabels" serializeAs="String">
                <value>2049</value>
            </setting>
            <setting name="m_nMagicTestingImages" serializeAs="String">
                <value>2051</value>
            </setting>
            <setting name="m_nItemsTestingLabels" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="m_nItemsTestingImages" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="m_nRowsImages" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="m_nColsImages" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="m_nMagWindowSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="m_nMagWindowMagnification" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="m_dInitialEtaLearningRate" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="m_dLearningRateDecay" serializeAs="String">
                <value>0.794328235</value>
            </setting>
            <setting name="m_dMinimumEtaLearningRate" serializeAs="String">
                <value>1E-05</value>
            </setting>
            <setting name="m_nAfterEveryNBackprops" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="m_cNumBackpropThreads" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="m_cNumTestingThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m_dMaxScaling" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="m_dMaxRotation" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="m_dElasticSigma" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="m_dElasticScaling" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="m_dMicronLimitParameter" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="m_nNumHessianPatterns" serializeAs="String">
                <value>500</value>
            </setting>
        </Visionary.Properties.Settings>
    </userSettings>
</configuration>