_ReSharper*
*.suo
Visionary/bin
Visionary/obj
ConvolutionalNeuralNetwork/bin
ConvolutionalNeuralNetwork/obj
ConvolutionalNeuralNetworkTest/bin
ConvolutionalNeuralNetworkTest/obj
~$*.docx
*.user
*.tmp
